@import 'variables';
.page{
    background-color: rgba(210, 210, 210, 1);
}
.level,.more{
    color:rgba(253, 0, 84, 1);
    font-weight: 600;
    font-size: 15px;
}
.level{
    font-size: 18px;
    border: 2px solid rgba(253, 0, 84, 1);
}
.more{
    font-size: 15px;
}
.duration, .description{
    font-size: 12px;
    margin: 0;
}
.description{
    white-space: nowrap;
}
// .col-md-4{
//     width: 32%;
//     margin-bottom: 10px; 
//     margin-right: 5px;
// }
a{
    text-decoration: none; 
    color: inherit;
    cursor: pointer; 
    margin: 0;
    padding: 0;
}
a:hover{
    color:rgba(253, 0, 84, 1)
}


// --------------------------------------------FOOD---------------------------------------------------------//
body {
    background-color: rgba(210, 210, 210, 1);
}

.form-custom {
    position: relative;
}
/* =---------------------- Your BMI - BMI CHART -------------------------------------- */
.text-yourBMI {
    font-size: 22px;
    font-family: "Lato";
    color: rgba(106, 106, 106, 1);
}

.bmi-content {
    margin-left: 2px;
    margin-bottom: 2px;
    background-color: rgba(253, 0, 84, 1);
    text-align: center;
    white-space: nowrap;
}

.text-content-yourBMI {
    padding-top: 10px;
    color: white;
}

/* =---------------------- Your BMI - BMI CHART END -------------------------------------- */



/* ---------------------------------SLIDER------------------------------------------------- */

.image-wrapper {
    max-width: 100%;
    height: 17em;
    display: flex;
    justify-content: center;
}

.image-slider {
    max-width: 100%;
    max-height: 100%;
}

@media (min-width: 992px) {
    .carousel-inner {
        display: flex;
    }

    .carousel-item {
        margin-right: 0;
        flex: 0 0 calc(100%/3);
        display: block;
    }

    .image-wrapper {
        height: 23vw;
    }

    .card-text-slider {
        max-height: 50px;
    }
}

.carousel-inner {
    
    padding: 1em;
}

.card-slider {
    margin: 0 .5em;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    border: none;
}

.card-text-slider {
    max-height: 50px;
    overflow: hidden;
}


.carousel-control-prev,
.carousel-control-next {
    background-color: #e1e1e1;
    width: 6vh;
    height: 6vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    opacity: .5;
}

.carousel-control-prev :hover,
.carousel-control-next {
    opacity: .8;
}

/* ---------------------------------SLIDER------------------------------------------------- */
.admin_heading{
    background-image: url('/img/bg_heading.png');
    background-size: cover;
    background-repeat: no-repeat;
}
.logo_admin{
    width: 30px;
    height: 32px;
}
.hpm{
    font-size: 20px;
    font-weight: 700;
}
.admin_header>li{
    font-weight: 700;
    border-color: rgba(253, 0, 84, 1) ;
}
.logout{
    color: white;
    background-color: rgba(253, 0, 84, 1);
    font-weight: 700;
}
.footer{
    background-color: rgba(43, 32, 36, 1);
}
.heading_footer{
    color: rgba(253, 0, 84, 1);
}
.header{
    background-image: url('/img/bg.png');
    height: 500px;
    color: white;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    opacity: 1 ;
}
.nav-item>a{
    text-decoration: none;
}
.nav-item{
    font-size: 20px;
    font-weight: 700;
    border-bottom: 3px solid rgba(253, 0, 84, 0);
}
.nav-item:hover {
    border-bottom: 3px solid rgba(253, 0, 84, 1);
    color: rgba(253, 0, 84, 1); 
}
.nav-item:focus {
    border-bottom: 3px solid rgba(253, 0, 84, 1) !important;
    color: rgba(253, 0, 84, 1); 
}
.button_header{
    background-color: rgba(253, 0, 84, 1);
    color: white;
    font-weight: 500;
    border-radius: 20px;
}
.user_icon{
    width: 40px;
}
h2 {
    color: #000000;
}

.service, .contact{
    line-height: 30px;
}

// .form .bi-search {
//     position: absolute;
//     font-size: 1.5rem;
//     top: 9px;
//     left: 15px;
//     color: #9ca3af;
// }

.form span .bi-search {
    position: absolute;
    font-size: 1.5rem;
    right: 15px;
    top: 9px;
    padding: 2px;
    color: #9ca3af;
    cursor: pointer;
}

.left-pan {
    padding: 7px;
}

.left-pan i {
    padding-left: 10px;
}

.form-input {
    height: 55px;
    text-indent: 20px;
    border-radius: 15px;
    background-color: white;
}

.form-input :focus {
    box-shadow: none;
    border: none;
}


.card-content {
    border-radius: 20px;

}

.rounded-image {
    border-radius: 20px;
    max-width: 85%;
    max-height: 85%;
}

.card-body-text {
    padding: auto;
}

.btn-custom {
    border-radius: 20px;
}
.service, .contact{
    line-height: 30px;
}
.inforUser, .updateForm, .inforForm, .foodHistory, .videoHistory{
    background-color: rgba(210, 210, 210, 1);
}
.card-content{
    border-radius: 20px;
    
}
.rounded-image{
    border-radius: 20px;
    max-width: 85%;
    max-height: 85%;
}
::-webkit-scrollbar {
    display: none;
} 
