<div class='footer'>
    <div class="row mx-3 gap-2 py-3 justify-content-between ">
        <div class="col-lg-3 col-12 brand mx-md-3">
            <img class="mw-100 pb-2" src="./img/logo_footer.png" alt="">
            <p class="message text-light">Healthy Minds, Happy Lives Mental Health Consultancy.</p>
        </div>
        <div class="col-lg-3 col-5 d-flex flex-column justify-content-center">
            <h4 class="heading_footer">Service</h4>
            <ul class="service text-light p-0" style="list-style-type: none">
                <li>Psychotherapy</li>
                <li>Mental Counseling</li>
                <li>Support Groups</li>
                <li>Case Management</li>
            </ul>
        </div>
        <div class="col-lg-3 col-5 ">
            <h4 class="heading_footer ">Contact</h4>
            <ul class="contact text-light p-0" style="list-style-type: none">
                <li><i class="bi px-1 bi-telephone-fill"></i> +84 9014 0178</li>
                <li><i class="bi px-1 bi-envelope-fill"></i> happyMinds@gmail.com</li>
                <li><i class="bi px-1 bi-geo-alt-fill"></i> 101B Son Tra, Da Nang </li>
            </ul>

        </div>
    </div>
</div>
