<div class="header">
    <div class="row gap-lg-1 mb-4">
        <div class="col-lg-3 col-12 m-1 my-3 px-1 d-flex justify-content-lg-end justify-content-center">
            <a href="/homepage"><img class="logo_hpm mw-90 mh-90 " src="./img/logo.png" alt=""></a>
        </div>
        <div class="col-lg-5 col-12 align-items-center ">
            <ul class="navbar py-3 p-0 mx-2 my-0 m-lg-0 d-flex " style="list-style-type: none;">
                <li class="nav-item p-2">
                    <a href="/homepage" class='nav-link'>HOME</a>
                </li>
                <li class="nav-item p-2">
                    <a href="/video" class='nav-link'>VIDEOS</a>
                </li>
                <li class="nav-item p-2">
                    <a href="/food" class='nav-link'>FOODS</a>
                </li>
                <li class="nav-item p-2">
                    <a href="/blog" class='nav-link'>BLOGS</a>
                </li>
            </ul>
        </div>
        <div class="col-lg-3 col-12 p-0 m-1 mx-0 gap-3 d-flex justify-content-lg-center justify-content-center"  data-bs-toggle="modal" data-bs-target="#login_form">
            <button class=" button_header signInBtn my-3 border-0 py-2 px-3 mt-3">Log in</button>
            {{!-- <button class=" button_header BMI my-3 border-0 py-2 px-3">BMI: 20.19</button>
            <button class=" button_header calories my-3 border-0 py-2 px-3">Calo: 1250 cal</button> --}}
        </div>
        <div class="modal fade" id="login_form" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <!-- Login Form -->
                    <form action="">
                        <div class="modal-header">
                            <h5 class="modal-title">Login</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="mb-3">
                                <label style="color: rgba(253, 0, 84, 1); font-weight: 600;" for="email">Email</label>
                                <input style="border-color: rgba(253, 0, 84, 1);" type="text" name="email"
                                    class="form-control" id="email" placeholder="Enter email">
                            </div>

                            <div class="mb-3">
                                <label style="color: rgba(253, 0, 84, 1); font-weight: 600" for="Password">Password</label>
                                <input style="border-color: rgba(253, 0, 84, 1);" type="password" name="password"
                                    class="form-control" id="Password" placeholder="Enter Password">
                            </div>
                            <div class="mb-3">
                                <input class="form-check-input" type="checkbox" value="" id="remember" required>
                                <label class="form-check-label" for="remember">Remember Me</label>
                                <a href="#" class="float-end">Forgot Password</a>
                            </div>
                            <button type="button" class="btn mx-auto w-100 text-light fw-bold"
                                style="background-color: rgba(253, 0, 84, 1);" id="login-btn">Login</button>
                        </div>
                        <div class="modal-footer justify-content-around">
                            <div class="row">
                                <div class="col-lg-6 col-6 pb-3">
                                    <a class="btn btn-primary btn-lg btn-block d-flex align-items-center"
                                        style="background-color:white; border: none" href="#!" role="button">
                                        <img class="img-fluid me-4" width="20" height="20"
                                            src="https://cdn-icons-png.flaticon.com/512/5968/5968764.png">
                                        <span style="color: black;">Facebook</span>
                                    </a>
                                </div>

                                <div class="col-lg-6 col-6 pb-3">
                                    <a class="btn btn-lg btn-block d-flex align-items-center"
                                        style="background-color:white; border: none" href="#!"
                                        role="button">
                                        <img class="img-fluid me-4" width="20" height="20"
                                            src="https://static-00.iconduck.com/assets.00/google-icon-2048x2048-czn3g8x8.png">
                                        <span style="color: black;">Google</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
   
</div>
