<div class="table-foods">
    <table class="table table-bordered table-striped table-hover"style="text-align: center;">
        <thead class="table-secondary">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Description</th>
                <th>Calo</th>
                <th>Aiternative</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>