<div class="container ">
    <div class="d-flex flex-row gap-5 d-flex align-items-center mt-5 mt-md-5">
        <h3 class="fs-4 text-primary col-lg-3 col-md-3 mb-0">March 22,
            2023</h3>
        <div class=" col-lg-8 col-md-8 d-flex justify-content-end">
            <img class="col-lg-4 col-1 my-2" style="width: 48px; height: 45px" src="/img/Image.png" alt>
            <p class="fs-5 m-0 d-flex align-items-center mx-2">Benjamin
                Gray</p>
        </div>
    </div>
    <div class="row">
        <div class=" col-lg-8 col-8 mb-2">
            <h1 class="text-lg-start fw-bold">How to Modify any Program
                to Improve Your Weakness</h1>
        </div>
    </div>
    <img class="col-lg-12m col-12 mb-lg-12 " src="/img/áđâsd.png" alt>
    <!-- body -->
    <h1 class="mt-lg-5 text-lg-center fw-bold mt-5 mb-lg-5 ">The 3 best
        exercises to do in your room</h1>
    <p class="col-lg-12 col-md-12">Dynamically target high pay of
        intellectual capital
        customized technologies objectively integrateemerging core
        competencies before process centric communities dramatically
        evisculate holistic innovation rather
        Progressively maintained extensived infomediaries via
        extensible dramatically disseminates standardized metrics
        after objectively pursue diverse catalysts for change for
        interoperable meta-services.</p>
    <ul class="mb-lg-5 m-lg-4 m-md-3 text-black" style="line-height: 2.5;margin-bottom: 10px;">
        <li>Dynamically target high-payoff intellectual capital for
            customized</li>
        <li>Interactively procrastinate high-payoff content</li>
        <li>Interactively procrastinate high-payoff content</li>
    </ul>
    <div class="text-lg-center text-md-center text-sm-center text-xs-center mt-lg-5 ">
        <img src="/img/123.png" alt>
    </div>
    <div class="text-lg-center text-md-center mt-lg-0 ">
        <h3 class="fw-bold">Benjamin Gray</h3>
    </div>
    <div class="text-lg-center text-md-center mb-2 ">
        <p>Professional Trainer</p>
    </div>
    <p class="text-center fst-italic text-black mb-5">When an unknown
        printegalley of type and scrambled it to make a type specimen
        book. It has but also leap into electronic typesetting.</p>
</div>