  <div class="container pt-4">

    <h2 class="d-flex justify-content-center pb-4 ">Suggested <span class="text-danger d-flex" style="white-space: pre;"> Calorie </span> Content of Each Dish</h2>

    <div class="row d-flex justify-content-center pb-2">
      <div class="col-lg-6">
        <div class="form form-custom">
          <input type="text" class="form-control form-input" placeholder="Search everything....">
          <span class="left-pan"><i class="bi bi-search"></i></span>
          
        </div>
      </div>
    </div>

    <div class="card card-content mb-3">
      <div class="row g-0 justify-content-start">
        <div class="col-lg-2 d-flex justify-content-center justify-content-lg-start align-items-center text-center">
          <img src="https://anestisxasapotaverna.gr/wp-content/uploads/2021/12/ARTICLE-1.jpg"
            class="img-fluid rounded-image mx-3 w-100" alt="error">
        </div>
        <div class="col-lg-6">
          <div class="card-body card-body-text px-0 text-center text-lg-start">
            <h5 class="card-title">France’s Pizza</h5>
            <p class="card-text">Pizza are very good for your health</p>
            <p class="card-text"><small class="text-body-secondary">350 calo</small></p>
          </div>
        </div>

        <div class="col-lg-4 d-flex justify-content-center align-items-center  pb-lg-0 pb-3">
          <button type="button" class="btn btn-custom text-light bg-danger w-50 fw-medium">Add to Menu</button>
        </div>

      </div>
    </div>

  </div>